@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
  line-height: 180%;
}

@media (max-width: 768px) {
  :root {
    font-size: 13px;
    min-width: 375px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.ant-input,
.ant-select,
.ant-input-number-input,
.ant-input-password {
  height: 50px !important;
}
.ant-input-password > .ant-input {
  height: auto !important;
}

.custom-select .ant-select-selector {
  border: none !important; /* Loại bỏ border */
  box-shadow: none !important; /* Loại bỏ shadow */
}

.custom-select .ant-select-focused .ant-select-selector {
  border: none !important; /* Loại bỏ border khi chọn */
}
.custom-select .ant-select-selection-item {
  color: #ff923b !important; /* Thay #1890ff bằng màu primary của bạn */
}
.ant-input:focus,
/* .ant-input-number-input:focus, */
.ant-select:focus,
.ant-select-selector:focus,
.ant-select-selector:focus-within,
.ant-input-number:focus,
.ant-input-number:focus-within,
.ant-input-password:focus,
.ant-input-password:focus-within,
.ant-input:hover,
.ant-select:hover,
.ant-select-selector:hover,
.ant-input-number:hover,
.ant-input-password:hover {
  border-color: #ff923b !important;
}

.ant-picker-dropdown {
  width: 100vw; /* Giới hạn chiều rộng của dropdown */
  left: 0 !important; /* Đảm bảo dropdown không bị lệch */
  right: 0 !important; /* Đảm bảo dropdown không vượt qua phải màn hình */
  overflow: hidden; /* Ngăn chặn tràn */
}
.ant-btn {
  min-height: 40px !important;
  background-color: #ff923b;
}
.ant-btn:hover {
  background-color: white !important;
  color: #ff923b !important;
  border: #ff923b 1px solid !important;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
